<%- include("header") %>
<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo earum totam quasi repellat accusamus mollitia blanditiis, numquam cum debitis aperiam aliquid natus rerum ad unde eaque, perferendis enim quos impedit!</p> 
<%- include("footer") %> 